<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag</title>
</head>
<body>
    {% block TITULO %}
    
    {% endblock TITULO %}

    {% block ESTUDIANTE %}
    {% for estudiante in estudiantes %}
    <p> {{estudiante.nombre}} , {{estudiante.apellido}} </p>
    {% endfor %}
    {% endblock ESTUDIANTE %}
    {% block PROFESOR %}
    
    {% endblock PROFESOR %}
    {% block CURSO %}
    
    {% endblock CURSO %}
    
</body>
</html>