<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag</title>
</head>
<body>
    {% block TITULO %}
    
    {% endblock TITULO %}

    {% block ESTUDIANTE %}
    {% for estudiante in estudiantes %}
    <p> {{estudiante.nombre}} , {{estudiante.apellido}} </p>
    {% endfor %}
    {% block FORME %}
    {% endblock FORME %}
    {% endblock ESTUDIANTE %}
    {% block CONTENIDO %}
    {% endblock CONTENIDO %}
    
    
    {% block PROFESOR %}
    {% for profesor in profesores %}
    <p> {{profesor.nombre}} {{profesor.especialidad}} </p>
        {% endfor %}
    {% block FORMP %}
    {% endblock FORMP %}
    {% endblock PROFESOR %}
    {% block CONTENIDOP %}
    {% endblock CONTENIDOP %}
    
    
    
    {% block CURSO %}
    {% for curso in cursos %}
    <p> {{curso.nombre}} {{curso.descripcion}} </p>
    {% endfor %}
    {% block FORMC %}
    {% endblock FORMC %}
    {% endblock CURSO %}
    {% block CONTENIDOC %}
    {% endblock CONTENIDOC %}
    
</body>
</html>