{% extends 'CORE/base.html' %}

{% block TITULO %}
    <h1>Desafio N°3</h1>
{% endblock TITULO %}

{% block ESTUDIANTE %}
    <h2> <u>Estudiantes</u> </h2>
    {% for estudiante in estudiantes %}
    <p> {{estudiante.nombre}} , {{estudiante.apellido}} </p>
    {% endfor %}
    <a class="nav-link active" aria-current="page" href="{%  url 'CORE:crearEstudiante'%}">Crear Estudiante</a>
   
{% endblock ESTUDIANTE %}

{% block PROFESOR %}
    <h2> <u>Profesores</u> </h2>
   
    {% for profesor in profesores %}
    <p> {{profesor.nombre}} {{profesor.especialidad}} </p>
        {% endfor %}
        <a class="nav-link active" aria-current="page" href="{%  url 'CORE:crearProfesor'%}">Crear Profesor</a>

{% endblock PROFESOR %}

{% block CURSO %}
    <h2> <u>Cursos</u> </h2>
    <a class="nav-link active" aria-current="page" href="{%  url 'CORE:crearCurso'%}">Crear Curso</a>
{% endblock CURSO %}